body {
  margin: 0;
  font-family: sans-serif;
}

* {
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

button {
  background-color: transparent;
  border: none;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

/* Track */
.custom-scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Handle */
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #f1f1f1;
  border-radius: 10px;
  width: 10px;
}